body {
  background-color: hsla(332, 90%, 91%, 0.66);
  font-family: "Single Day", sans-serif;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: rgb(88, 150, 198);
}

#dudu {
  max-width: 15rem;
  margin: auto;
  text-align: center;
}

#buttons {
  text-align: center;
}

button {
  font-family: inherit;
  width: 150px;
  height: 50px;
  padding: 5px;
  margin-right: 20px;

  border-radius: 5px;
  color: rgb(61, 60, 60);
}

#yes {
  background-color: rgb(32, 132, 32);
  border-color: rgb(32, 132, 32);
}

#bouncing {
  background-color: red;
  border-color: red;
  position: absolute;
}

.first {
  width: 20%;
}
